button {
  all: unset;
}

.radioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .wrapper {
    display: flex;
    align-items: center;

    .radioGroupItem {
      cursor: pointer;

      box-sizing: border-box;
      width: 16px;
      height: 16px;

      background-color: inherit;
      border: 2px solid var(--color-accent-500);
      border-radius: 100%;

      &:hover {
        background-color: var(--color-dark-500);
        box-shadow: 0 0 0 10px var(--color-dark-500);
      }

      &:active {
        background-color: var(--color-accent-900);
        box-shadow: 0 0 0 10px var(--color-accent-900);
      }

      &:focus-visible {
        background-color: var(--color-dark-700);
        box-shadow: 0 0 0 10px var(--color-dark-700);
      }

      &[data-disabled] {
        cursor: initial;
        border: 2px solid var(--color-accent-900);
      }

      .radioGroupIndicator {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        border-radius: 100%;

        &::after {
          content: '';

          display: block;

          width: 8px;
          height: 8px;

          background-color: var(--color-accent-500);
          border-radius: 50%;
        }

        &[data-disabled]::after {
          background-color: var(--color-accent-900);
        }

        &:hover {
          background-color: var(--color-dark-500);
        }

        &:active {
          background-color: var(--color-accent-900);
        }

        &:focus-visible {
          background-color: var(--color-dark-700);
        }
      }
    }

    .label {
      cursor: pointer;
      padding-left: 12px;
    }

    .disabled {
      color: var(--color-light-900);
    }
  }
}
