.wrapper {
  cursor: pointer;

  position: relative;

  display: inline;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);

  &.notSortable {
    cursor: initial;
  }

  .arrow {
    position: absolute;
    top: 2px;
    right: -15px;
  }
}
