.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;

  .icon {
    cursor: pointer;

    &.disabled {
      cursor: initial;

      path {
        fill: var(--color-dark-100);
      }
    }
  }
}
