.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;
}

.wrapper {
  position: relative;
  margin: 36px auto;
  padding: 0 36px;

  .close {
    cursor: pointer;

    position: absolute;
    top: 10px;
    right: 10px;

    outline: none;

    &:focus-visible {
      outline: 2px solid var(--color-info-500);
    }
  }

  .title {
    display: block;
    margin: 33px 0;
    text-align: center;
  }

  .button {
    margin: 20px 0 48px;
  }
}
