.container {
  all: unset;
  display: flex;
  align-items: center;

  .wrapper {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 36px;
    height: 36px;

    background: inherit;
    border-radius: 50%;

    &:has(.checkboxRoot:focus-visible) {
      background-color: var(--color-dark-100);
    }

    &:has(.checkboxRoot:hover) {
      background-color: var(--color-dark-500);
    }

    &:has(.checkboxRoot:active) {
      background-color: var(--color-dark-100);
    }

    .checkboxRoot {
      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      width: 18px;
      height: 18px;

      background-color: white;
      border: 1px solid var(--color-light-900);
      border-radius: 2px;

      &[data-disabled] {
        background-color: var(--color-dark-100);
        border: 1px solid var(--color-dark-100);
      }

      &[data-state='unchecked'] {
        background-color: inherit;

        &:hover {
          background-color: var(--color-dark-500);
        }

        &:focus-visible {
          background-color: var(--color-dark-100);
        }

        &:active {
          background-color: var(--color-dark-100);
        }
      }

      .checkboxIndicator {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        color: black;

        .checkIcon {
          position: absolute;
          top: -11px;
          width: 21px;
          height: 21px;
        }
      }
    }
  }

  .checkboxLabel {
    cursor: pointer;
    margin-left: 2px;
  }

  .checkboxLabelDisabled {
    color: var(--color-dark-100);
  }
}
