.container {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    .sliderRoot {
      user-select: none;

      position: relative;

      display: flex;
      align-items: center;

      width: 200px;
      height: 20px;

      .sliderTrack {
        position: relative;

        flex-grow: 1;

        height: 5px;

        background-color: var(--color-accent-900);
        border-radius: 10px;

        .sliderRange {
          position: absolute;
          height: 100%;
          background-color: var(--color-accent-500);
        }
      }

      .sliderThumb {
        cursor: pointer;

        display: block;

        width: 16px;
        height: 16px;

        background-color: white;
        border: 4px solid var(--color-accent-500);
        border-radius: 8px;
        outline: none;

        &:focus-visible {
          outline: 2px solid var(--color-info-700);
        }
      }
    }

    .number {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 36px;
      height: 36px;

      border: 1px solid var(--color-dark-100);
      border-radius: 2px;
    }
  }
}
