.image {
  display: block;
  align-items: center;

  width: 350px;
  height: 120px;
  margin: 18px 0;

  background-position: center;
  background-size: cover;
  border-radius: 2px;
}

.subtitle {
  display: block;
  margin-top: 12px;
}

.text {
  word-break: break-all;
}

.description {
  display: block;
  margin-bottom: 23px;
}

.button {
  margin: 20px 0 48px;
}
