.trigger {
  cursor: pointer;
}

.content {
  z-index: 2;

  margin-top: 2px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  .item {
    cursor: pointer;

    display: flex;
    gap: 6px;

    padding: 6px;

    border-radius: 4px;

    &:hover {
      background-color: var(--color-dark-500);
      outline: 1px solid var(--color-dark-100);
    }

    &:focus-visible {
      outline: 2px solid var(--color-info-700);
    }

    .icon {
      height: 16px;

      path {
        fill: var(--color-light-100);
      }
    }

    &[data-disabled] {
      pointer-events: none;
      cursor: default;

      .text {
        color: var(--color-dark-100);
      }

      .icon {
        path {
          fill: var(--color-dark-100);
        }
      }
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    margin: 6px 0;
    background-color: var(--color-dark-500);
  }

  .labelWrapper {
    display: flex;
    gap: 8px;
    padding: 6px 28px 6px 6px;

    .img {
      width: 36px;
      height: 36px;
      background-size: cover;
      border-radius: 50%;
    }

    .label {
      display: flex;
      flex-direction: column;
    }
  }

  .arrowBox {
    fill: var(--color-dark-700);
  }

  .arrow {
    position: absolute;
    top: -7px;
    left: calc(50% - 5px);
    transform: rotate(45deg);

    width: 10px;
    height: 10px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-top: none;
    border-left: none;
  }
}
