@mixin btn-params {
  all: unset;

  cursor: pointer;

  display: block;

  min-width: 24px;
  height: 24px;
  padding: 2px;

  text-align: center;

  border-radius: 2px;

  &:focus-visible {
    outline: 2px solid var(--color-info-900);
  }

  &:disabled {
    cursor: initial;
    color: var(--color-dark-300);
  }
}

.root {
  display: flex;
  gap: 25px;
  align-items: center;

  .buttons_container {
    display: flex;
    gap: 12px;
    align-content: center;
    justify-content: center;

    .page {
      @include btn-params;

      &:hover {
        background-color: var(--color-dark-500);
      }

      &:disabled {
        color: var(--color-dark-900);
        background: var(--color-light-100);
      }
    }

    .leftArrow {
      @include btn-params;
    }

    .rigthArrow {
      @include btn-params;
    }

    .dots {
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }

  .select_container {
    display: flex;
    gap: 10px;
    align-items: center;

    .select {
      cursor: pointer;

      button {
        padding: 0 4px 0 6px;
      }
    }

    .text {
      display: flex;
      flex-shrink: 0;
    }
  }
}
