.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 33px 36px 60px;

  .header {
    margin-bottom: 50px;
    text-align: center;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--color-light-900);
    opacity: 0.5;
  }
}
