.wrapperText {
  display: flex;
  flex-direction: column;
  padding: 18px 0;

  .text {
    color: var(--color-light-100);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
