.disabled {
  path {
    fill: var(--color-dark-500) !important;
  }
}

.container {
  display: flex;
  flex-direction: column;

  .label {
    color: var(--color-dark-100);

    &.disabled {
      color: var(--color-dark-300);
    }
  }

  .error {
    margin-top: 5px;
    color: var(--color-danger-300);
  }
}

.inputWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  width: 284px;
  height: 36px;
  padding: 6px 12px;

  background-color: inherit;
  border-radius: 2px;
  outline: 1px solid var(--color-dark-300);

  &.fullWidth {
    width: 100%;
  }

  .searchImg {
    margin-right: 4px;

    path {
      fill: var(--color-dark-100);
    }
  }

  &:hover {
    background-color: var(--color-dark-700);
    outline: 1px solid var(--color-dark-100);
  }

  &:has(.textField:focus-visible) {
    outline: 2px solid var(--color-info-700);
  }

  &:has(.textField:active) {
    outline: 1px solid var(--color-light-100);

    path {
      fill: var(--color-light-100);
    }
  }

  &.error {
    outline: 1px solid var(--color-danger-300);
  }

  .textField {
    width: 100%;
    background: inherit;
    border: none;
    outline: none;

    &::-webkit-search-cancel-button {
      appearance: none;
    }

    &::placeholder {
      color: var(--color-dark-100);
    }

    &:active {
      &::placeholder {
        color: var(--color-light-100);
      }
    }

    &.disabled {
      cursor: not-allowed;
      color: var(--color-dark-300);

      &::placeholder {
        color: var(--color-dark-300);
      }
    }
  }

  .deleteBtn {
    all: unset;
    cursor: pointer;
    display: flex;

    &:focus-visible {
      outline: 2px solid var(--color-info-700);
    }
  }

  .eyeBtn {
    all: unset;
    cursor: pointer;
    display: flex;
  }
}
