.wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 36px 41px;

  .header {
    margin-bottom: 27px;
    text-align: center;
  }

  .avatar {
    position: relative;
    margin: 0 auto;

    .img {
      width: 96px;
      height: 96px;
      background-size: cover;
      border-radius: 50%;
    }

    .buttonAvatar {
      position: absolute;
      right: 0;
      bottom: 0;

      height: 24px;
      padding: 0 4px;
    }
  }
}
