.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 33px 36px 29px;

  .header {
    margin-bottom: 27px;
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .button {
    margin-top: 36px;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 11px;
    color: var(--color-light-900);
    text-align: center;
  }

  .link {
    text-decoration: underline;
  }
}
