.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search {
  width: 299px;
}

.wrapper2 {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 40px;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}
