.container {
  margin: 0 auto;
  padding: 33px 36px 29px;

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 12px;
  }

  .checkBox {
    margin-bottom: 6px;
    margin-left: -8px;
  }

  .forgotPassword {
    display: flex;
    justify-content: end;
    margin-bottom: 66px;
    text-decoration: none;
  }

  .button {
    margin-bottom: 20px;
  }

  .haveAnAccount {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    color: var(--color-light-900);
  }

  .signUp {
    display: flex;
    margin: 0 auto;
    text-decoration: underline;
  }
}
