.card {
  width: 420px;
  min-height: 100px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  box-shadow:
    1px 1px 2px 0 rgb(0 0 0 / 10%),
    -1px -1px 2px 0 rgb(0 0 0 / 10%);
}
