.wrapper {
  all: unset;
  display: flex;
  gap: 10px;
  justify-content: center;

  button {
    cursor: pointer;
    display: inline-flex;

    path {
      fill: var(--color-light-100);
    }
  }

  .disabled {
    pointer-events: none;
    cursor: initial;

    path {
      fill: var(--color-dark-300);
    }
  }
}
