button {
  all: unset;
  cursor: pointer;
}

.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;

  .back {
    color: var(--color-light-100);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;

  .title {
    margin-right: 16px;
    color: var(--color-light-100);
  }
}

.deckImage {
  width: 170px;
  height: 107px;
  margin-top: 15px;

  background-position: center;
  background-size: cover;
  border-radius: 2px;
}

.input {
  margin-top: 25px;
  margin-bottom: 24px;
}

.tableHeader {
  .arrow {
    margin-left: 4px;
  }
}

.textCell {
  word-break: break-all;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}
