.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 33px 36px 29px;

  .header {
    margin-bottom: 50px;
    text-align: center;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 65px;
    color: var(--color-light-900);
    opacity: 0.5;
  }

  .button {
    margin-bottom: 20px;
  }

  .rememberPassword {
    margin-bottom: 10px;
    color: var(--color-light-900);
    text-align: center;
  }

  .link {
    margin: 0 auto;
    color: var(--color-accent-500);
    text-decoration: underline;
  }
}
