.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.row {
  height: 36px;
  text-align: left;
  vertical-align: center;
}

.headCell {
  position: relative;

  align-items: center;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);

  background-color: var(--color-dark-500);
}

.tableCell {
  padding: 6px 24px;
  font-size: var(--font-size-s);
  background-color: var(--color-dark-900);
  border-bottom: 1px solid var(--color-dark-500);
}
